// Variables
$header-padding-mobile: 0.75rem 0.1rem;
$header-padding-desktop: 1.5rem 10%;
$header-gap-mobile: 1rem;
$header-gap-desktop: 0;
$header-font-size-mobile: 1rem;
$header-font-size-desktop: 1.25rem;

$logo-size: 5.5rem;
$logo-bg-color: #eee8f2;
$logo-padding: 1.25rem;
$logo-border-radius: 50%;
$logo-box-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
$logo-img-drop-shadow: 0 0 4px rgba(29, 29, 29, 0.35);

$nav-gap: 2rem;
$nav-link-color: #3e3b3e;
$nav-link-hover-color: #77207a;

header {
  padding: $header-padding-mobile;
  display: flex;
  flex-direction: column;
  gap: $header-gap-mobile;
  justify-content: space-between;
  align-items: center;
  font-size: $header-font-size-mobile;
}

#logo {
  width: $logo-size;
  height: $logo-size;
  background-color: $logo-bg-color;
  padding: $logo-padding;
  border-radius: $logo-border-radius;
  box-shadow: $logo-box-shadow;

  img {
    width: 100%;
    height: 100%;
    filter: drop-shadow($logo-img-drop-shadow);
  }
}

nav {
  ul {
    display: flex;
    gap: $nav-gap;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;

    li {
      a {
        color: $nav-link-color;
        text-decoration: none;
        font-weight: bold;

        &:hover {
          color: $nav-link-hover-color;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  header {
    font-size: $header-font-size-desktop;
    flex-direction: row;
    gap: $header-gap-desktop;
    padding: $header-padding-desktop;
  }
}
