<header>
  <div id="logo">
    <img src="logo.png" alt="Website logo, a server" />
  </div>

  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/">Management</a>
      </li>
      <li>
        <!-- Calls a custom component that extends the button element -->
        <button appButton>
          <!-- This is the contect that we'll be passing to the Button[appButton] extended button.component.ts -->
          Logout 
          <!-- <span class="icon">→</span> -->

          <!-- Using 'ngProjectAs' allows Angular project a value without encapsulating unnecessary elements wrappers. -->
          <span  ngProjectAs="icon" >→</span>
        </button>
      </li>
    </ul>
  </nav>
</header>