// Variables
$font-primary: "Open Sans", sans-serif;
$color-bg: #c0bdc3;
$color-logo-bg: #eee8f2;
$color-shadow: rgba(0, 0, 0, 0.35);
$color-nav: #3e3b3e;
$color-nav-hover: #77207a;
$color-p: #4f4b53;
$color-p-last: #625e67;
$color-status-online: #6a3cb0;
$color-status-offline: #b22084;
$color-status-unknown: grey;
$color-chart-border: #76737a;
$color-chart-gradient-start: #36166f;
$color-chart-gradient-end: #ca19a4;
$color-dashboard-bg: #f8f8f8;
$color-dashboard-border: #ccc;
$color-dashboard-header: #504e50;
$color-button-bg: #691ebe;
$color-button-hover: #551b98;
$color-ticket-header: #38343c;
