// Import variables
// @import "./styles/variables";

// Variables
$font-family: "Open Sans", sans-serif;
$body-bg-color: #c0bdc3;
$main-width: 80%;
$main-margin: 3rem 10%;
$dashboard-gap: 1.5rem;
$dashboard-max-width: 85rem;
$breakpoint-md: 768px;

// Import Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: $font-family;
}

body {
  margin: 0;
  background-color: $body-bg-color;
}

main {
  width: $main-width;
  margin: $main-margin;
}

#dashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: $dashboard-gap;
  max-width: $dashboard-max-width;
}

@media (min-width: $breakpoint-md) {
  #dashboard {
    flex-direction: row;
  }
}
